<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">


	<bean id="projectRepository"
		class="org.balazsbela.bugreportr.repositories.file.impl.ProjectRepositoryImpl" />
	<bean id="userRepository"
		class="org.balazsbela.bugreportr.repositories.file.impl.UserRepositoryImpl" />

	<bean id="authenticationService"
		class="org.balazsbela.bugreportr.services.impl.AuthenticationServiceImpl">
		<property name="userRepository" ref="userRepository" />
	</bean>
	<bean id="projectService"
		class="org.balazsbela.bugreportr.services.impl.ProjectServiceImpl">
		<property name="projectRepository" ref="projectRepository" />
		<property name="notificationService" ref="notificationService" />
	</bean>
	<bean id="userService" class="org.balazsbela.bugreportr.services.impl.UserServiceImpl" />

	<bean id="notificationService"
		class="org.balazsbela.bugreportr.services.impl.NotificationServiceImpl" />

	<bean id="bugreportrService"
		class="org.balazsbela.bugreportr.services.impl.BugreportrServicesFacadeImpl">
		<property name="authenticationService" ref="authenticationService" />
		<property name="projectService" ref="projectService" />
		<property name="userService" ref="userService" />
		<property name="notificationService" ref="notificationService" />
	</bean>

	<bean id="rmiServiceExporter" class="org.springframework.remoting.rmi.RmiServiceExporter">
		<property name="serviceName" value="BugreportrService" />
		<property name="service" ref="bugreportrService" />
		<property name="serviceInterface"
			value="org.balazsbela.bugreportr.commons.BugreportrServicesFacade" />
		<property name="registryPort" value="1099" />
	</bean>


</beans>
